/* Global Styles and Classes */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    background: hsl(210,36%,96%);
    color: hsl(209,61%,16%);
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 40rem;
    margin-top: 5rem;
    text-align: center;
}

.btn {
    text-transform: uppercase;
    background: #49ace9;
    color: hsl(209,61%,16%);
    padding: 0.375rem 0.75rem;
    display: inline-block;
    border: 2px solid #49ace9;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

.btn:hover {
    color: #49ace9;
    background: hsl(205,86%,81%);
    border-color: hsl(205,86%,81%);
}

/* Lorem Ipsum */
h3 {
    text-transform: uppercase;
    color: hsl(205,86%,17%);
}

.lorem-form {
    text-transform: capitalize;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.25rem;
    color: hsl(205,86%,17%);
}

input {
    padding: 0.25rem 0.5rem;
    width: 4rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0 0.5rem;
    font-size: 1.25rem;
    font-family: inherit;
}

button {
    background: hsl(205,100%,96%);
    font-family: inherit;
}

.result {
    margin-bottom: 2rem;
}
